@page
@model shop.Pages.Admin.Books.CreateModel
@{
}

<h2 class="my-3">New Book</h2>

@if(Model.errorMessage.Length > 0)
{
  <div class="aleert alert-warning alert-dismissible fade show" role="alert">
	  <strong>@Model.errorMessage</strong>
	  <button type="button" class="btn-close"></button>
  </div>
}